body
{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#contenedor{
    padding: 1em;
    text-align: center;
    margin: auto;
    border: 2px solid;
}

#contenedor h1{
    font-size: 70px;
}
#contenedor p{
    font-size: 30px;
}